body {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}

textarea {
    box-sizing: border-box;
    width: 1440px;
    height: 300px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.keyboard {
    display: grid;
    box-sizing: border-box;
    width: 1440px;
    height: 480px;
    padding: 20px;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: white;
}

.backspace,
.capslock,
.enter,
.shift {
    grid-column-start: span 2;
}

.space {
    grid-column-start: span 6;
}

.keyboard button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    background: grey;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
}
button:hover {
    background-color: rgb(68, 67, 67);
}
button:active {
    background-color: yellow;
    border-radius: 30px;
    transition: border-radius 10s ease-in 0;
}
button.press {
    background-color: yellow;
    border-radius: 30px;
    transition: border-radius 10s ease-in 0;
}
button.press_caps {
    background-color: yellow;
    border-radius: 30px;
    transition: border-radius 10s ease-in 0;
}